# Buildout for running automatic unit tests
#
# Please see `run-tests` for more information.

[buildout]
extends = https://github.com/audiowalkman/walkman/raw/a111c1ac7a27e019943c1e36c5955191c5ac9469/automatic_test_base.cfg
