[buildout]
parts = walkman
versions = versions
develop = {{ pyo_path }}

[walkman]
recipe = zc.recipe.egg
interpreter = python-with-walkman-eggs
eggs =
    pyo
    audiowalkman
    {% for module in module_dict.keys() %}
    {{ module }}
    {% endfor %}

[versions]
audiowalkman = {{ audiowalkman_version }}
{% for module, version in module_dict.items() %}
{{ module }} = {{ version }}
{% endfor %}
